#include "Source.h"

nameID DIALOGEX MOVEABLE 10, 10, 300, 70
STYLE DS_MODALFRAME | DS_CENTER
CAPTION "HELLO"

BEGIN
	LTEXT TEXT("Please enter your name :"), ID_DIALOG_STRING, 35, 10, 90, 10
	EDITTEXT ID_ITEMNAME, 35, 30, 170, 15, WS_TABSTOP

	PUSHBUTTON "Ok", IDOK, 140, 55, 25, 10
	PUSHBUTTON "Cancel", IDCANCEL, 230, 55, 30, 10
END
